﻿@page "/addemployee"
@using ServerSideSPA2.Data

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject AppSettingService AppSettingService

<h3>Create Employee</h3>
<hr />

<EditForm Model="@employee" OnValidSubmit="CreateEmployee">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <InputText for="Name" class="form-control" @bind-Value="@employee.Name" />
            </div>
            <div class="form-group">
                <label for="Department" class="control-label">Department</label>
                <InputText for="Department" class="form-control" @bind-Value="@employee.Departament" />
            </div>
            <div class="form-group">
                <label for="Designation" class="control-label">Designation</label>
                <InputText for="Designation" class="form-control" @bind-Value="@employee.Designation" />
            </div>
            <div class="form-group">
                <label for="Company" class="control-label">Company</label>
                <InputText for="Company" class="form-control" @bind-Value="@employee.Company" />
            </div>
        </div>
        <DataAnnotationsValidator />
         <ValidationSummary />
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    Employee employee = new Employee();
    string baseUrl;

    protected async Task CreateEmployee()
    {
        baseUrl = AppSettingService.GetBaseUrl();
        await HttpClient.PostJsonAsync(baseUrl+"/api/employees/create", employee);
        NavigationManager.NavigateTo("listemployees");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("listemployees");
    }
}
