﻿@page "/editemployee/{id:guid}"

@using ServerSideSPA2.Data
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject AppSettingService AppSettingService

<h2>Edit Employee</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@employee.Name" />
            </div>
            <div class="form-group">
                <label for="Department" class="control-label">Department</label>
                <input for="Department" class="form-control" @bind="@employee.Departament" />
            </div>
            <div class="form-group">
                <label for="Designation" class="control-label">Designation</label>
                <input for="Designation" class="form-control" @bind="@employee.Designation" />
            </div>
            <div class="form-group">
                <label for="Company" class="control-label">Company</label>
                <input for="Company" class="form-control" @bind="@employee.Company" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@UpdateEmployee" value="Update" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</form>

@code {
    [Parameter]
    public Guid id { get; set; }
    string baseUrl;

    Employee employee = new Employee();

    protected override async Task OnInitializedAsync()
    {
        baseUrl = AppSettingService.GetBaseUrl();
        employee = await HttpClient.GetJsonAsync<Employee>(baseUrl+"/api/employees/details/" + id);
    }

    protected async Task UpdateEmployee()
    {
        await HttpClient.PutJsonAsync(baseUrl+"/api/employees/edit/" + id, employee);
        NavigationManager.NavigateTo("listemployees");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("listemployees");
    }
}
