﻿@page "/listemployees"
@using ServerSideSPA2.Data

@inject HttpClient HttpClient
@inject AppSettingService AppSettingService

<h3>Employee Details</h3>

<p>
    <a href="/addemployee">Create new Employee</a>
</p>
@if (employees == null)
{
    <img src="./basicloader.gif" />

}
else
{
    <table class='table'>
        <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Company</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in employees)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Departament</td>
                <td>@employee.Designation</td>
                <td>@employee.Company</td>
                <td>
                    <a href='/editemployee/@employee.Id'>Edit</a>
                    <a href='/deleteemployee/@employee.Id'>Delete</a>
                </td>
            </tr>



        }
        </tbody>
    </table>
}

@code {
    Employee[] employees;

    string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        baseUrl = AppSettingService.GetBaseUrl();
        await GetPersons();
    }

    private async Task GetPersons()
    {

        employees = await HttpClient.GetJsonAsync<Employee[]>(baseUrl +"/api/employees");
    }

}
